<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055174122200-ugu71rji8bhn2fqdjejogrkeva7jtchd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055174122200-ugu71rji8bhn2fqdjejogrkeva7jtchd</string>
	<key>API_KEY</key>
	<string>AIzaSyB7cVELN0QRVUc1BJMI7H-FeqLpjoEo0mE</string>
	<key>GCM_SENDER_ID</key>
	<string>1055174122200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.better.solution.ios.firebase.Firebase-Demo</string>
	<key>PROJECT_ID</key>
	<string>loginandsignupdemo-30270</string>
	<key>STORAGE_BUCKET</key>
	<string>loginandsignupdemo-30270.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055174122200:ios:414915416ad022bf0cd5ad</string>
</dict>
</plist>